## insurance.csv
| Column    | Data Type | Description                                                      |
|-----------|-----------|------------------------------------------------------------------|
| `age`       | int       | Age of the primary beneficiary.                                  |
| `sex`       | object    | Gender of the insurance contractor (male or female).             |
| `bmi`       | float     | Body mass index, a key indicator of body fat based on height and weight. |
| `children`  | int       | Number of dependents covered by the insurance plan.              |
| `smoker`    | object    | Indicates whether the beneficiary smokes (yes or no).            |
| `region`    | object    | The beneficiary's residential area in the US, divided into eight regions. |
| `charges`   | float     | Individual medical costs billed by health insurance.             |

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [2]:
# Loading the insurance dataset
insurance_data_path = 'insurance.csv'
insurance = pd.read_csv(insurance_data_path)
insurance.head()
# insurance.tail()

    age     sex     bmi  children smoker     region       charges
0  19.0  female  27.900       0.0    yes  southwest     16884.924
1  18.0    male  33.770       1.0     no  Southeast     1725.5523
2  28.0    male  33.000       3.0     no  southeast     $4449.462
3  33.0    male  22.705       0.0     no  northwest  $21984.47061
4  32.0    male  28.880       0.0     no  northwest    $3866.8552

In [3]:
insurance.shape

(1338, 7)

In [4]:
insurance.isnull().sum()

age         66
sex         66
bmi         66
children    66
smoker      66
region      66
charges     54
dtype: int64

In [5]:
# Drop the null values in the insurance dataframe
insurance.dropna(inplace=True)

In [6]:
# Drop duplicated if needed
insurance.drop_duplicates(inplace=True)
print(insurance.duplicated().sum())
# insurance.shape
# insurance.info()

0

In [7]:
insurance.describe()

               age          bmi     children
count  1208.000000  1208.000000  1208.000000
mean     35.355960    30.574971     0.942881
std      22.061241     6.117562     1.311809
min     -64.000000    15.960000    -4.000000
25%      24.750000    26.195000     0.000000
50%      38.000000    30.230000     1.000000
75%      51.000000    34.580000     2.000000
max      64.000000    53.130000     5.000000

In [8]:
#remove age is negative
insurance = insurance[insurance['age']>0]

#remove children is negative
insurance = insurance[insurance['children']>=0]

In [9]:
# Remove the dollar sign and convert the 'charges' column from object data type to float data type
insurance['charges'] = insurance['charges'].replace('[\$,]', '', regex=True).astype(float)

In [10]:
# Clean column sex data and converted to int from str 
insurance['sex'].unique()
insurance['sex'] = insurance['sex'].replace({'male':1, 'man':1, 'M':1, 'female':0, 'woman':0, 'F':0})

In [11]:
# Clean column smoker data and converted to int from str
insurance['smoker'].unique()
insurance['smoker'] = insurance['smoker'].map({'yes':1, 'no':0})

In [12]:
# Encode region column
insurance['region'].unique()
insurance['region'] = insurance['region'].str.lower()
insurance = pd.get_dummies(insurance)

In [13]:
# insurance.describe()
insurance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1108 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1108 non-null   float64
 1   sex               1108 non-null   int64
 2   bmi               1108 non-null   float64
 3   children          1108 non-null   float64
 4   smoker            1108 non-null   int64
 5   charges           1108 non-null   float64
 6   region_northeast  1108 non-null   uint8
 7   region_northwest  1108 non-null   uint8
 8   region_southeast  1108 non-null   uint8
 9   region_southwest  1108 non-null   uint8
dtypes: float64(4), int64(2), uint8(4)
memory usage: 64.9 KB

In [14]:
# Build Model

X = insurance.drop('charges', axis=1)
y = insurance['charges']

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

lr = LinearRegression()
scores = cross_val_score(lr, X_scaled, y, cv = 5, scoring = 'r2')
print(scores.mean())

lr.fit(X_scaled, y)

0.7440405079631597

LinearRegression()

In [15]:
#predict the charges in validation_dataset.csv
validation_data_path = 'validation_dataset.csv'
validation = pd.read_csv(validation_data_path)

validation.dropna(inplace=True)
validation.drop_duplicates(inplace=True)
validation = validation[validation['age']>0]
validation = validation[validation['children']>=0]

validation['sex'] = validation['sex'].replace({'male':1, 'man':1, 'M':1, 'female':0, 'woman':0, 'F':0})
validation['smoker'] = validation['smoker'].map({'yes':1, 'no':0})
validation.reset_index(drop=True, inplace=True)
validation['region'] = validation['region'].str.lower()
validation = pd.get_dummies(validation)
validation = validation.reindex(columns=X.columns, fill_value=0)
validation_scaled = scaler.transform(validation)

val_pred = lr.predict(validation_scaled)
validation['charges'] = val_pred
validation.loc[validation['charges']<0, 'charges'] = 1000
validation

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest,charges
0,18.0,0,24.090000,1.0,0,0,0,1,0,1000.000000
1,39.0,1,26.410000,0.0,1,1,0,0,0,23304.467288
2,27.0,1,29.150000,0.0,1,0,0,1,0,20831.590876
3,71.0,1,65.502135,13.0,1,0,0,1,0,34220.000469
4,28.0,1,38.060000,0.0,0,0,0,1,0,1928.069366
5,70.0,0,72.958351,11.0,1,0,0,1,0,34839.157160
6,29.0,0,32.110000,2.0,0,0,1,0,0,2331.739186
7,42.0,0,41.325000,1.0,0,1,0,0,0,5739.459517
8,48.0,0,36.575000,0.0,0,0,1,0,0,5913.078936
9,63.0,1,33.660000,3.0,0,0,0,1,0,7890.854146
10,27.0,1,18.905000,3.0,0,1,0,0,0,622.857395
11,51.0,0,36.670000,2.0,0,0,1,0,0,6688.259807
12,60.0,0,24.530000,0.0,0,0,0,1,0,6148.030537
13,57.0,0,28.700000,0.0,0,0,0,0,1,5799.066248
14,20.0,0,28.975000,0.0,0,0,1,0,0,163.436423
15,18.0,1,30.400000,3.0,0,1,0,0,0,365.182453
16,83.0,1,89.097296,9.0,0,0,1,0,0,18910.902217
17,92.0,0,69.127267,13.0,1,0,0,1,0,38479.410160
18,84.0,0,75.742693,2.0,1,0,0,0,1,36210.895449
19,55.0,0,26.980000,0.0,0,0,1,0,0,6038.815271
20,23.0,1,18.715000,0.0,0,0,1,0,0,1000.000000
21,49.0,0,33.345000,2.0,0,1,0,0,0,6170.092758
22,33.0,0,35.530000,0.0,1,0,1,0,0,23272.851884
23,47.0,0,36.000000,1.0,0,0,0,0,1,5008.947164
24,40.0,1,32.300000,2.0,0,0,1,0,0,4087.575905
25,21.0,0,35.720000,0.0,0,0,1,0,0,1107.468683
26,74.0,0,65.454749,13.0,1,1,0,0,0,35614.714433
27,28.0,0,25.800000,0.0,0,0,0,0,1,411.360357
28,57.0,0,25.740000,2.0,0,0,0,1,0,6004.209280
29,45.0,1,33.700000,1.0,0,0,0,0,1,4213.816567
30,27.0,0,32.395000,1.0,0,1,0,0,0,2104.890819
31,19.0,0,33.110000,0.0,1,0,0,1,0,20072.419791
32,44.0,0,20.235000,1.0,1,1,0,0,0,23776.258997
33,63.0,0,26.220000,0.0,0,0,1,0,0,7347.070101
34,43.0,0,24.700000,2.0,1,0,1,0,0,24022.005123
35,46.0,1,40.375000,2.0,0,0,1,0,0,6055.232818
36,78.0,1,66.370173,11.0,1,0,1,0,0,35781.511766
37,52.0,1,38.600000,2.0,0,0,0,0,1,6114.164022
38,18.0,1,21.780000,2.0,0,0,0,1,0,1000.000000
39,70.0,1,60.617535,10.0,0,0,0,1,0,13031.820750
40,29.0,1,34.400000,0.0,1,0,0,0,1,21477.724180
41,35.0,1,39.710000,4.0,0,1,0,0,0,4512.468647
42,29.0,1,27.200000,0.0,0,0,0,0,1,561.546683
43,89.0,1,68.736874,6.0,1,0,1,0,0,37366.604921
44,26.0,1,32.490000,1.0,0,1,0,0,0,1757.421609
45,58.0,1,36.955000,2.0,1,0,1,0,0,27852.046384
46,92.0,1,84.973279,11.0,1,0,0,0,1,39560.729997
47,19.0,1,44.880000,0.0,1,0,0,1,0,21231.536495
48,61.0,1,33.915000,0.0,0,1,0,0,0,7902.438572
49,44.0,0,38.060000,0.0,1,0,0,1,0,24996.559039